<?xml version="1.0"?>
<model>
  <name>x500_spray</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>An Vu</name>
    <email>anvu1911@gmail</email>
  </author>
  <description>x500 quadrotor with a downward-facing spray-paint nozzle on a dummy tank, driven by the SprayPaintPlugin.</description>
</model>
